:root {
  --foreground: #c6c6c6;
  --accent: #919191;
  --background: #303030;
  --light-background: #5e5e5e;
  --box-background: var(--light-background);
  --radius: 10px;
}

$tile-pattern: url('/assets/tile.png');

@font-face { 
  font-family: Inter; 
  src: url('/assets/Inter-VariableFont.ttf');
  font-style: normal;
}

@keyframes bg-scrolling {
  25%  { background-position: calc(50% + 80px) calc(50% + 80px);}
  50%  { background-position: calc(50% + 80px) calc(50% + 160px);}
  75%  { background-position: 50% calc(50% + 240px);}
  100% { background-position: 50% calc(50% + 320px);}
}

html {
  background: $tile-pattern repeat 0 0;
  background-color: var(--background);

  background-position: 50% 50%;
  animation: bg-scrolling 10s cubic-bezier(.46,.03,.52,.96) infinite;
}

body {
  color: var(--foreground);
  font-family: Inter, sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: var(--foreground);
  border: none;

  &:hover {
    color: var(--accent);
    cursor: pointer;
  }
}

/* Reuseables */

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/*@media  {
  .flex {
    flex-direction: column;
  }
}*/

.profile-pic {
  width: 35%;
  max-width: 500px;
}

.game-pic {
  width: 25%;
  max-width: 300px;
}

.nav-bar {
  margin: 2ch;

  & nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

  }

  & nav > a {
    @extend .shadow;
    padding: 1ch;
  }
}

.con-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 2ch;

  & > * {
    padding: 0.5ch;
  }
}

.part-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > h5 {
    text-align: left;
    margin: 2px;
  }

  & > .part {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
  }
}

/* Modifiers */

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;

  &.visible {
    opacity: 1;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.box {
  background-color: var(--box-background);
  width: fit-content;
  height: fit-content;
  padding: 1ch;
  @extend .chamfer;
}

.chamfer {
  border-radius: var(--radius);
}

.spacer {
  margin: 4ch;
}

.shadow, .shadow a {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75));

  & a:hover, & > a:hover{
    text-shadow: 
      1px 1px 0 #ffffff80,
      -1px -1px 0 #ffffff80,
      1px -1px 0 #ffffff80,
      -1px 1px 0 #ffffff80;
    filter: drop-shadow(3px 3px 2px rgba(255, 255, 255, 0.75));
  }
}

iframe.paragraph {
  width: 100%;
  height: 100%;

  color: var(--foreground);
  font-family: Inter, sans-serif;
  border: none;

  @extend .shadow;
}

iframe.pdf {
  width: 70vw;
  max-width: 600px;
  height: calc(70vw * (11 / 8.5));
  max-height: calc(600px * (11 / 8.5));

  border: none;
}