/* VARIABLES */
$foreground: #fff;
$accent: #4d574a;
$background: #a1b5a5;
$secondary-background: #C2DDC0;
$box-background: #879f8c;
$background-pattern: url(/assets/green_grid.png);
$radius: 10px;



/* DECLARATIONS */
@font-face { 
  font-family: Inter; 
  src: url('./assets/Inter-VariableFont.ttf');
  font-style: normal;
}
@font-face { 
  font-family: Inter; 
  src: url('./assets/Inter-Italic-VariableFont.ttf');
  font-style: italic;
}

@keyframes bg-scrolling {
  25%  { background-position: calc(50% + 100px) calc(50% + 100px);}
  50%  { background-position: calc(50% + 100px) calc(50% + 200px);}
  75%  { background-position: 50% calc(50% + 300px);}
  100% { background-position: 50% calc(50% + 400px);}
}

/* TAG FORMATTING */
html {
  font-family: Inter, sans-serif;
  background: $background-pattern repeat 0 0;
  background-position: 50% 50%;
  animation: bg-scrolling 10s cubic-bezier(.46,.03,.52,.96) infinite;
}

body {
  color: $foreground;
}

header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer {
  margin-top: 5%;
  margin-bottom: 5%;
}

footer > *{
  display: inline-block;
  margin: 1ch;
  @extend .shadow
}

nav > *{
  display: inline-block;
  margin: 1ch;
  @extend .shadow
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: $foreground;
}

a:hover {
  color: $accent;
}

/* MODIFIERS */
.box {
  background-color: $box-background;
  border-radius: $radius;
  width: fit-content;
  height: fit-content;
  padding: 1ch;
  @extend .shadow
}

.fit {
  width: fit-content;
  height: fit-content;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.chamfering {
  border-radius: $radius;
}

.shadow {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75));
}

.shadow > a:hover {
  text-shadow: 
    1px 1px 0 #ffffff80,
    -1px -1px 0 #ffffff80,
    1px -1px 0 #ffffff80,
    -1px 1px 0 #ffffff80;
  filter: drop-shadow(3px 3px 2px rgba(255, 255, 255, 0.75));
}

.profile {
  margin: 5%;
  margin-bottom: 0;
  width: 40vw;
}

.pdf-page {
  $width: 62vw;
  width: $width;
  height: calc($width * (11 / 7.7));
}