/* VARIABLES */

$foreground: #fff;
$accent: #4d574a;
$background: #a1b5a5;
$secondary-background: #C2DDC0;
$box-background: #879f8c;
$background-pattern: url(/assets/green_grid.png);
$radius: 10px;

/* DECLARATIONS */

@font-face { 
  font-family: Inter; 
  src: url('/assets/Inter-VariableFont.ttf');
  font-style: normal;
}
@font-face { 
  font-family: Inter; 
  src: url('/assets/Inter-Italic-VariableFont.ttf');
  font-style: italic;
}

@keyframes bg-scrolling {
  25%  { background-position: calc(50% + 100px) calc(50% + 100px);}
  50%  { background-position: calc(50% + 100px) calc(50% + 200px);}
  75%  { background-position: 50% calc(50% + 300px);}
  100% { background-position: 50% calc(50% + 400px);}
}

/* TAG FORMATTING */
html {
  color: $foreground;
  font-family: Inter, sans-serif;
  background: $background-pattern repeat 0 0;
  background-color: $background;
  background-position: 50% 50%;
  animation: bg-scrolling 10s cubic-bezier(.46,.03,.52,.96) infinite;
}

/* div + div, button + div {
  margin: 2%;
} */

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: $foreground;
  border: none;

  &:hover {
    color: $accent;
    cursor: pointer;
  }
}

/* SPECIFIC SECTIONS */

.nav-bar {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
  & nav > *{
    display: inline-block;
    margin-left: 1ch;
    margin-right: 1ch;
    @extend .shadow;
  }
}

.connections {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;

  & > * {
    display: inline-block;
    margin: 1ch;
  }
}

/* MODIFIERS */

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;

  &.visible {
    opacity: 1;
  }
}

.box {
  background-color: $box-background;
  width: fit-content;
  height: fit-content;
  padding: 1ch;
  @extend .chamfer;
}

.fit {
  width: fit-content;
  height: fit-content;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.chamfer {
  border-radius: $radius;
}

.shadow, .shadow a {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75));

  & a:hover, & > a:hover{
    text-shadow: 
      1px 1px 0 #ffffff80,
      -1px -1px 0 #ffffff80,
      1px -1px 0 #ffffff80,
      -1px 1px 0 #ffffff80;
    filter: drop-shadow(3px 3px 2px rgba(255, 255, 255, 0.75));
  }
}

.profile {
  margin: 5%;
  margin-bottom: 0;
  width: 400px;
}

.pdf-page {
  $width: 62vw;
  width: $width;
  height: calc($width * (11 / 8.35));
}

/* COLLAPSIBLE */

.collapsible {
  overflow: hidden;
  margin: 20px;

  &_button {
    text-decoration: none;
    color: $foreground;
    border: none;

    & > * {
      filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75));
    }

    &:hover {
      color: $accent;
      cursor: pointer;
      stroke: rgba(255, 255, 255, 0.75);
      stroke-width: 1px;
      text-shadow: 
      1px 1px 0 #ffffff80,
      -1px -1px 0 #ffffff80,
      1px -1px 0 #ffffff80,
      -1px 1px 0 #ffffff80;
      filter: drop-shadow(3px 3px 2px rgba(255, 255, 255, 0.75));

      & > * {
        filter: drop-shadow(3px 3px 2px rgba(255, 255, 255, 0.75));
      }
    }

    &.box {
      background-color: $box-background;
    }
  
    &.box:hover {
      background-color: $accent;
    }
  }
  &_content {
    visibility: hidden;
    max-height: 0;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    transition: max-height 0.3s ease, margin 0.3s ease, padding 0.3s ease, visibility 0s linear 0.3s;
  }

  &_open {
    visibility: visible;
    max-height: fit-content;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    transition: max-height 0.3s ease, margin 0.3s ease, padding 0.3s ease, visibility 0s linear 0s;
  }
}