:root {
  --lightgrey: #d9d9da;
  --grey: #a3a8ac;
  --darkgrey: #4a575f;
  --black: #1E2022;
  --radius: 10px;
}

@font-face { font-family: Sora; src: url('Sora-Light.ttf'); }

html {
  font-family: Sora;
}

header {
  text-align: center;
  margin: 0px;
  background-color: var(--grey);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

header a {
  color: var(--darkgrey);
}

header a:hover {
  color: var(--black);
}

body {
  margin: 0px;
  text-align: center;
  background-color: var(--lightgrey);
}

footer {
  text-align: center;
  background-color: var(--grey);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  text-decoration: none;
}

footer svg {
  color: var(--darkgrey);
  margin: 5%;
}

footer svg:hover {
  color: var(--black);
  margin: 5%;
  cursor: pointer;
}

.profile-image {
  border-radius: var(--radius);
  max-width: 20%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}