/* VARIABLES */
:root {
  --foreground: #ffffff;
  --accent: #4d574a;
  --background: #a1b5a5;
  --secondary-background: #C2DDC0;
  --box-background: #879f8c;
  --background-pattern: url(/assets/green_grid.png);
  --radius: 10px;
}

/* DECLARATIONS */
@font-face { 
  font-family: Inter; 
  src: url('./assets/Inter-VariableFont.ttf');
  font-style: normal;
}
@font-face { 
  font-family: Inter; 
  src: url('./assets/Inter-Italic-VariableFont.ttf');
  font-style: italic;
}

@keyframes bg-scrolling {
  25%  { background-position: calc(50% + 100px) calc(50% + 100px);}
  50%  { background-position: calc(50% + 100px) calc(50% + 200px);}
  75%  { background-position: 50% calc(50% + 300px);}
  100% { background-position: 50% calc(50% + 400px);}
}

/* TAG FORMATTING */
html {
  font-family: Inter, sans-serif;
  background: var(--background-pattern) repeat 0 0;
  background-position: 50% 50%;
  animation: bg-scrolling 10s cubic-bezier(.46,.03,.52,.96) infinite;
}

body {
  color: var(--foreground);
}

header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer > *{
  display: inline-block;
  margin: 1ch;
}

nav > *{
  display: inline-block;
  margin: 1ch;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75));
}

/* nav *:not(:has(*)) {
  display: inline-block;
  margin-left: 1ch;
} */

a {
  text-decoration: none;
  color: var(--foreground);
}

a:hover {
  color: var(--accent);
}

/* MODIFIERS */
.box {
  background-color: var(--box-background);
  border-radius: var(--radius);
  width: fit-content;
  height: fit-content;
  padding: 1ch;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75));
}

.fit {
  width: fit-content;
  height: fit-content;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.chamfering {
  border-radius: var(--radius);
}

.shadow {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75));
}

.shadow > a:hover {
  text-shadow: 
    1px 1px 0 #ffffff80,    /* Shadow on the right and bottom (black) */
    -1px -1px 0 #ffffff80,  /* Shadow on the left and top (black) */
    1px -1px 0 #ffffff80,   /* Shadow on the top right (black) */
    -1px 1px 0 #ffffff80;
  filter: drop-shadow(3px 3px 2px rgba(255, 255, 255, 0.75));
}

.profile {
  margin: 5%;
  width: 40vw;
}