:root {
  --lightgrey: #d9d9da;
  --grey: #a3a8ac;
  --darkgrey: #4a575f;
  --black: #1E2022;
  --radius: 10px;
}

@font-face { font-family: Sora-ExtraLight; src: url('Sora-ExtraLight.ttf'); }

html {
  font-family: Sora-ExtraLight;
}

header {
  margin: 0px;
  background-color: var(--grey);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

header ul a { 
  display: block;
  padding: 8px;
}

body {
  margin: 0px;
  text-align: center;
  background-color: var(--lightgrey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  text-align: center;
  background-color: var(--grey);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  text-decoration: none;
  margin-top: auto;
}

footer svg {
  color: var(--darkgrey);
  margin: 5%;
}

footer svg:hover {
  color: var(--black);
  margin: 5%;
  cursor: pointer;
}

.profile-image {
  border-radius: var(--radius);
  max-width: 20%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}