:root {
  --lightgrey: #d9d9da;
  --grey: #a3a8ac;
  --darkgrey: #4a575f;
  --black: #1E2022;
  --radius: 10px;
  --bar-width: 15%;
}

@font-face { font-family: Sora-ExtraLight; src: url('Sora-ExtraLight.ttf'); }

html {
  font-family: Sora-ExtraLight;
}

header {
  background-color: var(--grey);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  text-decoration: none;
  top: 0px;
  margin-left: var(--bar-width);
  margin-right: var(--bar-width);
}

header h2 { 
  color: var(--darkgrey);
  display: inline-block;
  margin: 2%;
}

header h2:hover {
  color: var(--black);
}

body {
  margin: 0px;
  text-align: center;
  background-color: var(--lightgrey);
  min-height: 100vh;
}

body img {
  display: block;
  margin-bottom: auto;
}

footer {
  background-color: var(--grey);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  text-decoration: none;
  position:absolute;
  width: 70%;
  bottom:0;
  margin-left: var(--bar-width);
  margin-right: var(--bar-width);
}

footer svg {
  display: inline-block;
  color: var(--darkgrey);
  margin: 2%;
}

footer svg:hover {
  color: var(--black);
  cursor: pointer;
}

a { 
  text-decoration: none;
  color: var(--darkgrey);
}

a:hover { 
  text-decoration: none;
  color: var(--black);
}

.profile-image {
  border-radius: var(--radius);
  max-width: 20%;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
}