:root {
  --cream: #D8D9DA;
  --grey: #5b6070;
  --darkgrey: #3d3e3f;
  --radius: 10px;
  --gameimgsize: 80%;
}

@font-face { font-family: Sora-ExtraLight; src: url('./assets/Sora-ExtraLight.ttf'); }

html {
  font-family: Sora-ExtraLight;
}

a {
  color: var(--cream);
  text-decoration: none;
}

a:hover {
  color: var(--darkgrey);
}

header {
  background-color: var(--grey);
  width: fit-content;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
}

header h2 {
  display: inline-block;
  margin: 30px;
}

body {
  margin: 0px;
  text-align: center;
  background-color: var(--cream);
  min-height: auto;
}

body svg {
  margin: 20px;
  display: inline-block;
  color: var(--grey);
}

body svg:hover {
  color: var(--cream);
  cursor: pointer;
}

footer {
  background-color: var(--grey);
  width: fit-content;
  margin: auto;
  margin-top: 100px;
}

footer svg {
  margin: 20px;
  display: inline-block;
  color: var(--cream);
}

footer svg:hover {
  color: var(--darkgrey);
  cursor: pointer;
}

.profile-image {
  max-width: 20%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.border {
  border-radius: var(--radius);
}

.gamesgrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, 1fr));
  max-width: 100%;
  margin: 2%;
}

.gamesgrid img {
  max-width: var(--gameimgsize);
  max-height: var(--gameimgsize);
  margin: auto;
}