:root {
  /*--cream: #D8D9DA;*/
  --cream: #ffffffec;
  --grey: #5b6070;
  --darkgrey: #3d3e3f;
  --radius: 10px;
  --gameimgsize: 80%;
}

@font-face { 
  font-family: Sora-ExtraLight; src: url('./assets/Sora-ExtraLight.ttf'); 
}

@keyframes rainbow {
  0%    { color: rgb(255, 0, 0);}
  9.1%  { color: rgb(255, 125, 0);}
  18.2% { color: rgb(255, 255, 0);}
  27.3% { color: rgb(125, 255, 0);}
  36.4% { color: rgb(0, 255, 0);}
  45.5% { color: rgb(0, 255, 125);}
  54.5% { color: rgb(0, 255, 255);}
  63.6% { color: rgb(0, 125, 255);}
  72.7% { color: rgb(0, 0, 255);}
  81.8% { color: rgb(125, 0, 255);}
  90.9% { color: rgb(255, 0, 255);}
  100%  { color: rgb(255, 0, 125);}
}

@keyframes bg-scrolling {
  25%  { background-position: 50px 50px;}
  50%  { background-position: 50px 100px;}
  75%  { background-position: 0px 150px;}
  100% { background-position: 0px 200px;}
}

html {
  font-family: Sora-ExtraLight;
}

header {
  background-color: var(--grey);
  width: fit-content;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
}

header a {
  color: var(--cream);
  text-decoration: none;
}

header a:hover {
  color: var(--darkgrey);
  animation: rainbow 5s infinite linear;
}

header h2 {
  display: inline-block;
  margin: 30px;
}

body {
  margin: 0px;
  text-align: center;
  background-color: var(--cream); 
  background: url("/assets/grid.png") repeat 0 0;
  animation: bg-scrolling 20s infinite linear;
  min-height: auto;
}

body h3 {
  margin: auto;
  margin-top: 20px;
  max-width: 60%;
  word-wrap: break-word;
}

body svg {
  margin: 20px;
  display: inline-block;
  color: var(--grey);
}

body svg:hover {
  color: var(--cream);
  animation: rainbow 5s infinite linear;
  cursor: pointer;
}

.connections {
  background-color: var(--grey);
  width: fit-content;
  margin: auto;
  margin-top: 100px;
}

.connections a {
  text-decoration: none;
}

.connections svg{
  margin: 20px;
  display: inline-block;
  color: var(--cream);
}

.connections svg:hover {
  color: var(--darkgrey);
  animation: rainbow 5s infinite linear;
  cursor: pointer;
}

.profile-image {
  max-width: 20%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.border {
  border-radius: var(--radius);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, 1fr));
  max-width: 100%;
  margin: 2%;
}

.gamesgrid img {
  max-width: var(--gameimgsize);
  max-height: var(--gameimgsize);
  margin: auto;
}