:root {
  --white: #ffffff;
  --grey: #5b6070;
  --darkgrey: #3d3e3f;
  --radius: 7.5px;
}

@font-face { 
  font-family: Sora-ExtraLight; src: url('./assets/Sora-ExtraLight.ttf'); 
}

html {
  font-family: Sora-ExtraLight;
}

@keyframes rainbow {
  0%    { color: rgb(255, 0, 0);}
  8.3%  { color: rgb(255, 125, 0);}
  16.6% { color: rgb(255, 255, 0);}
  25%   { color: rgb(125, 255, 0);}
  33.3% { color: rgb(0, 255, 0);}
  41.6% { color: rgb(0, 255, 125);}
  50%   { color: rgb(0, 255, 255);}
  58.3% { color: rgb(0, 125, 255);}
  66.6% { color: rgb(0, 0, 255);}
  75%   { color: rgb(125, 0, 255);}
  83.3% { color: rgb(255, 0, 255);}
  91.6% { color: rgb(255, 0, 125);}
  100%  { color: rgb(255, 0, 0);}
}

@keyframes outlineAnimation {
  0% {filter: drop-shadow(0 0 0 var(--white));}
  25% {filter: drop-shadow(0 0 2.5px var(--white));}
  50% {filter: drop-shadow(0 0 5px var(--white));}
  75% {filter: drop-shadow(0 0 2.5px var(--white));}
  100% {filter: drop-shadow(0 0 0 var(--white));}
}

@keyframes bg-scrolling {
  25%  { background-position: 50px 50px;}
  50%  { background-position: 50px 100px;}
  75%  { background-position: 0px 150px;}
  100% { background-position: 0px 200px;}
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--white);
    --color-fg: var(var(--darkgrey));
  }
  
  body {
    background-color: var(--color-bg);
    background: url("/assets/light_mode_grid.png") repeat 0 0;
    animation: bg-scrolling 20s linear infinite ;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--darkgrey);
    --color-fg: var(--white)
  }

  body {
    background-color: var(--color-bg);
    background: url("/assets/dark_mode_grid.png") repeat 0 0;
    animation: bg-scrolling 20s linear infinite;
  }
}

.color-bg {
  color: var(--color-bg);
}

.color-fg {
  color: var(--color-fg);
}

.box {
  background-color: var(--grey);
  border-radius: var(--radius);
  width: fit-content;
  height: fit-content;
}

.box-margin {
  margin: 20px;
}

.border {
  border-radius: var(--radius);
}

.shadow {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.75));
}

.fit-content {
  margin: auto;
  width: fit-content;
}

.color-white {
  color: var(--white)
}

.color-grey {
  color: var(--grey)
}

.color-darkgrey {
  color: var(--darkgrey)
}

.resume {
  width: 62vw;
  height: 88vh;
}

a {
  text-decoration: none;
}

a:hover {
  animation: outlineAnimation 5s infinite linear, rainbow 5s infinite linear;
  cursor: pointer;
}

svg:hover {
  animation: rainbow 5s infinite linear;
  cursor: pointer;
}

header {
  width: fit-content;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
}

header h2 {
  display: inline-block;
  margin: 20px;
}

body {
  text-align: center;
  color: var(--color-fg);
  
  
  /* min-height: auto; */
}

/* body h1, body h2, body h3 {
  
  
  word-wrap: break-word;
} */


.profile-image {
  max-width: 300px;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: auto;
  margin-right: auto;
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(25%, 1fr));
  max-width: 100%;
  margin: 7.5%;
  margin-left: 10%;
  margin-right: 10%;

} */

.a-wrapper {
  display: inline-block;
  margin: 20px;
}

.connections {
  background-color: var(--grey);
  width: fit-content;
  border-radius: var(--radius);
  margin: auto;
  margin-top: 100px;
}