:root {
  /*--cream: #D8D9DA;*/
  --white: #ffffff;
  --grey: #5b6070;
  --darkgrey: #3d3e3f;
  --radius: 7.5px;
  --gameimgsize: 80%;
}

@font-face { 
  font-family: Sora-ExtraLight; src: url('./assets/Sora-ExtraLight.ttf'); 
}

@keyframes rainbow {
  0%    { color: rgb(255, 0, 0);}
  9.1%  { color: rgb(255, 125, 0);}
  18.2% { color: rgb(255, 255, 0);}
  27.3% { color: rgb(125, 255, 0);}
  36.4% { color: rgb(0, 255, 0);}
  45.5% { color: rgb(0, 255, 125);}
  54.5% { color: rgb(0, 255, 255);}
  63.6% { color: rgb(0, 125, 255);}
  72.7% { color: rgb(0, 0, 255);}
  81.8% { color: rgb(125, 0, 255);}
  90.9% { color: rgb(255, 0, 255);}
  100%  { color: rgb(255, 0, 125);}
}

@keyframes outlineAnimation {
  0% {filter: drop-shadow(0 0 0 var(--white));}
  25% {filter: drop-shadow(0 0 2.5px var(--white));}
  50% {filter: drop-shadow(0 0 5px var(--white));}
  75% {filter: drop-shadow(0 0 2.5px var(--white));}
  100% {filter: drop-shadow(0 0 0 var(--white));}
}

@keyframes bg-scrolling {
  25%  { background-position: 50px 50px;}
  50%  { background-position: 50px 100px;}
  75%  { background-position: 0px 150px;}
  100% { background-position: 0px 200px;}
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--white);
    --color-fg: var(var(--darkgrey));
  }
  
  body {
    background: url("/assets/light_mode_grid.png") repeat 0 0;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--darkgrey);
    --color-fg: var(--white)
  }

  body {
    background: url("/assets/dark_mode_grid.png") repeat 0 0;
  }
}

.color-bg {
  color: var(--color-bg);
}

.color-fg {
  color: var(--color-fg);
}

.color-white {
  color: var(--white)
}

.color-grey {
  color: var(--grey)
}

.color-darkgrey {
  color: var(--darkgrey)
}



html {
  font-family: Sora-ExtraLight;
}

a {
  text-decoration: none;
}

a:hover {
  animation: outlineAnimation 5s infinite linear, rainbow 5s infinite linear;
  cursor: pointer;
}

svg:hover {
  animation: rainbow 5s infinite linear;
  cursor: pointer;
}

header {
  background-color: var(--grey);
  width: fit-content;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
}

header a {
  color: var(--white)
}

header h2 {
  display: inline-block;
  margin: 20px;
}

body {
  margin: 0px;
  text-align: center;
  background-color: var(--color-bg);
  animation: bg-scrolling 20s infinite linear;
  min-height: auto;
}

body h1, body h3 {
  color: var(--color-fg);
  margin: auto;
  margin-top: 20px;
  max-width: 60%;
  word-wrap: break-word;
}

/* body svg {
  display: inline-block;
  color: var(--grey);
} */

/* body svg:hover {
  color: var(--cream);
  animation: rainbow 10s infinite linear;
  cursor: pointer;
} */



.profile-image {
  max-width: 300px;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: auto;
  margin-right: auto;
}

.box {
  background-color: var(--grey);
  width: fit-content;
  border-radius: var(--radius);
}

.shadow {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.border {
  border-radius: var(--radius);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(25%, 1fr));
  max-width: 100%;
  margin: 7.5%;
  margin-left: 20%;
  margin-right: 20%;

}

.a-wrapper {
  display: inline-block;
  margin: 20px;
}

.connections {
  margin: auto;
  margin-top: 100px;
}


/* .gamesgrid img {
  max-width: var(--gameimgsize);
  max-height: var(--gameimgsize);
  margin: auto;
} */